<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food item Edit Page</title>
  </head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Update <%= pantry.name %></h1>

    <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=PUT"
    method="POST"> 
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= pantry.name %>"/>

        <label for="isExpired">Expired?:</label>
        <input type="checkbox" name="isExpired" id="isExpired" <% if (pantry.isExpired) { %>checked<% } %> >
    
      <button type="submit">Update Food Item</button>
    </form>
  </body>