<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Pantry</h1>
    <ul>
        <% pantry.forEach((foods) => { %>
            <li>
                <%= pantry.name %>
                <a href="/users/<%= user._id %>/foods/<%= pantry._id %>/edit">Edit</a>
                <form action="/users/<%= user._id %>/foods/<%= pantry._id %>?_method=DELETE"
                    method="POST">
                      <button type="submit">Delete This Food item</button></form>
          <ul>Expired?: <%= pantry.isExpired %></ul>
        </li>
      <% }) %> 
    </ul>

      <a href="/users/<%=user._id%>/foods/new">Add a food item</a>

  </body>
</html>
